{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="signup-container">
            <form class = "signup-form" method = "POST">
                <div class="form-header">
                  Carb
                  <img src="{{ url_for('static', filename='assets/images/logo.png') }}" class="logo">
                  nion
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Nouveau mot de passe</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Réinitialiser</button>
            </form>

        </div>          
    </div>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
  {% endblock %}