{% extends 'base.html' %}
    {% block content %}

    <script
        src="{{ url_for('static', filename='js/sharing_index.js') }}"
        type="module"
    ></script>
    <div id = "day-consumption-to-display" day-consumption-id="{{day_consumption.shared_id}}"></div>
     <div class = "content-loading">
        <img src="{{ url_for('static', filename='assets/images/loading.gif') }}"  style="width:48px;height:48px;">
    </div>
    <div class = "content-loaded">
        <div class="statement-container">
            <div class="days-container">                
                <div class = "add-day-container">
                        {% include "day_consumption/day_consumption_create_form.html" %}
                </div>
            </div>
            {% include "day_consumption/day_consumption_details.html" %}

        </div>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/statement.css') }}">
    </div>

{% endblock %}